/**remove any default browser paddings or margins*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    
    scroll-behavior:smooth;
}
body{
    background-image: url(images/bg.jpg);
    animation: fadeIn;
    animation-duration: 5s;
}
/*fade in animation*/
@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
/*edeting the header*/
header a{
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1;

    padding: 0 20px;/*this gives a horizontal padding to the right (top right bottom left)*/
    background-color:yellow;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#brand{
    font-size: x-large;
    margin-top: 10px;
}
#brand a{
    color: black;
}
nav{
    margin-top: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li{
    padding: 5px;
}
ul a{
    color: black;
}
li a:hover{
    color: #2B6CA3;
}
/*hide and styling the mobile icon*/
#hamburger-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
}
/*styles the icon once screen size is met. transition times added*/
#hamburger-icon div{
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: .5s;
}
/*adds the animation to rotate the hamburger menu once clicked (goes from bar to X)*/
/*.open is a JavaScript call*/
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px); /*< this roates the first bar*/
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
    opacity: 0; /*hides the second bar completely*/
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-10px, -8px); /*< this rotates the third bar*/
    transform: rotate(45deg) translate(-10px, -8px);
}
/*stryling the mobile icon*/
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mobile-menu{
    display: none;
    position: absolute;
    top: 50px; /*exact height as the header!*/
    left: 0;
    height: calc(100vh - 50px); /*makes the menu be the full size of the screen minus the nav height*/
    width: 100%;

    background-color: grey;
}
/*hide the desktop menu bar on mobile devices (less than 600px)*/
/*@media tag MUST GO AT THE BOTTOM*/
@media only screen and (max-width:600px){
    header nav{
        display: none;
    }
    /*displays the hamburger-icon once the screen is less than desired px*/
    #hamburger-icon{
        display: block;
    }
    /*ensures the font is not too big on mobile*/
    .calltoaction{
        font-size: 7vw;
        color: white;
        text-shadow: 20px 5px 12px black;
        padding: 100px 20px;
    }
    /*ensures the images width is kept at 100% of the screen width on mobile*/
    #mySlides{
    width: 100%;
    }
    .sect1 img{
        width: 100%;
        height: 50vh;
        object-fit: cover;

    }
    #sect2{
        height: 40vh;
        background-color: #2B6CA3;
        text-align: center;
        color: white;
    }
    .sect4 h1{
        font-size: 40px;
        color: #5AB7E8;
    }
    #contactus{
        font-size: 12px;
    }
}
/*moreinfo div box*/
.moreinfo{
    border: 1px solid #2B6CA3;;
    box-sizing: border-box;
    background-color: #2B6CA3;;
    width: max-content;
    color: yellow;
    margin-top: 50px;
    text-align: center;
    font-size: xxlarge;
}
.moreinfo a{
    text-decoration: none;
    color: yellow;
}
/*section1*/
.calltoaction{
    position: absolute;
    
}
/*makes it so that font is not altered on mobile*/
@media only screen and (min-width: 601px){
    .calltoaction{
        font-size: 40px;
        color: white;
        text-shadow: 20px 5px 12px black;
        padding: 100px 150px;
    }
    /*keeps section2 normal on big screen*/
    #sect2{
        height: 80vh;
        background-color: #2B6CA3;
        text-align: center;
        color
        : white;
    }
    .sect1 img{
        width: 100%;
        height: 75vh;
        object-fit: cover;
    }
    .sect4 h1{
        font-size: 50px; 
        color: #5AB7E8; 
        text-align: center;
    }
}
/*section2*/
#mySlides img{
    transition: 2s;
}
#mySlides:hover{
    cursor: pointer;
}
/*section3*/
#sect3{
    height: 40vh;
    padding-top: 50px;
    color: white;
    text-align: center;
}
.about h1{
    font-size: 60px;
    color: yellow;
}
/*section4*/
.sect4{
    height: 40vh;
    background-color: #2B6CA3;
    text-align: center;
    padding-top: 40px;
}
/*contactus section*/
#contactus{
    color: white;
    padding-top: 30px;
    display: grid;
}
/*footer*/
footer{
    background-color: white;
    position: relative;
    height: 50px;
    bottom: 0;
    text-align: center;
    padding-top: 20px;
}
