*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CODES FOR NAVIGATION MENU WITH LOGO*/
header{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1;

    background-color:#FE9399;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: .4em;
    padding-bottom: 1.5em;
}
ul, a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
ul a:hover{
    background-color: orange;
}
nav img:hover{
    cursor: pointer;
}
/*#brand is the text and logo and .brand-logo is the logo ONLY*/
#brand{
    position: relative;
    display: flex;
    padding-left: 2em;
    padding-top: .7em;
}
.brand-logo{
    position: absolute;
    bottom: -.7em;
    left: 6.5em;
}
/*Coding responsiveness for computers and larger devices*/
@media screen and (min-width: 601px) {
    #hamburger-icon{
        display: none;
    }

    nav{
        position: fixed;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        padding-top: .6em;
    }
    .texts-sect1{
        font-size: 1rem;/**/
    }
}
/*Coding responsiveness for mobille devices*/
.mobile-menu{
    display: none;
    position: absolute;
    left: 0;
    height: calc(100vh - 80px); /*makes the menu be the full size of the screen minus the nav height*/
    width: 100%;
    background-color: rgba(128, 128, 128, 0.404);
}
/*adds the animation to rotate the hamburger menu once clicked (goes from bar to X)*/
/*.open is a JavaScript call*/
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px); /*< this roates the first bar*/
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
    opacity: 0; /*hides the second bar completely*/
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-10px, -8px); /*< this rotates the third bar*/
    transform: rotate(45deg) translate(-10px, -8px);
}
/*stryling the mobile icon*/
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
@media screen and (max-width: 600px) {
    nav ul {
        display: none;
    }
    #hamburger-icon{
        display: block;
        margin: auto 0;
        cursor: pointer;
        padding-right: 2em;
        bottom: .6em;
    }
    /*styles the icon once screen size is met. transition times added*/
    #hamburger-icon div{
        width: 40px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: .5s;
    }
    /*I figured out how to not have the cursor at all times on the background*/
    .mobile-menu{
        cursor:auto;
    }
    .texts-sect1{
        font-size: .625rem;/**/
    }
}
/*END OF CODES FOR NAVIGATION MENU WITH LOGO*/
/*BEGINNING CODES FOR THE FIRST SECTION*/

#sect1 img{
    width: 100vw;
}
.texts-sect1{
    position: absolute;
    color: white;
    top: 5em;
    left: 2em;
}
/*END OF CODES FOR THE FIRST SECTION*/
/*BEGINNING CODES FOR THE SECOND SECTION*/
#sect2{
    position: relative;
    height: 100vh;
    background-color: #AC1CB0;
}
.services-container{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .625em;
}
.service1{
    border: 1px solid blueviolet;
    width: 70em;/*changed from 70vh*/
    padding: 30px;
    margin: 5px;
}
