/*REMEMBER: EACH SECTION IS INDIVIDUALLY CODING INSIDE @media*/
/*SEE TAGS FOR EACH SECTION UNDER THE MEDIA*/
/*KEEP EVERYTHING IN ORDER!*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url(images/bg.jpg);
    animation: fadeIn;
    animation-duration: 1.5s;
    font-family: 'Times New Roman', Times, serif;
}
/*fade in animation*/
@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
/*CODES FOR NAVIGATION MENU WITH LOGO*/
header{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 10;

    background-color:gold;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
header ul{
    font-weight: bold;
}
ul, a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
ul a:hover{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
nav img:hover{
    cursor: pointer;
}
nav li{
    padding-right: 15px;
}
/*#brand is the text and logo and .brand-logo is the logo ONLY*/
#brand{
    position: relative;
    display: flex;
    padding-left: 2em;
    padding-top: .3em;
}
#brand a{
    font-size: 1.5em;
}
.brand-logo{
    position: absolute;
    width: 60px;
    left: 5em;
    bottom: -.14em;
}
#brand a:hover, #brand a:active, #brand a:visited{
    color: black;
    text-decoration: none;
    list-style-type: none;
}
/*END OF CODES FOR NAVIGATION MENU WITH LOGO*/

/*Coding responsiveness for mobille devices*/
@media screen and (max-width: 600px) {
    /*hides the main menu which is only for larger screen*/
    nav ul {
        display: none;
    }
    #hamburger-icon{
        display: block;
        margin: auto 0;
        cursor: pointer;
        padding-right: 2em;
        bottom: .6em;
    }
    /*styles the icon once screen size is met. transition times added*/
    #hamburger-icon div{
        width: 40px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: .5s;
    }
    .mobile-menu{
        cursor:auto; /*removes cursor from whole mobile background*/
        padding-top: 50px;
    }
    /*Everything below this tag will be sectioned in order for each @media*/
    /*BEGINNING CODES FOR THE FIRST SECTION*/
    #sect1 img{
        width: 100vw;
    }
    .texts-sect1{
        position: absolute;
        color: white;
        top: 5em;
        left: 2em;
    }
    .texts-sect1 p{
        font-size: 2.5vh;
    }
    .start-now{
        position: absolute;
        border: 1px solid gold;
        background-color: gold;
        font-weight: bolder;
        text-align: center;
        width: 7em;
        height: 2em;
        padding: 5px;
        font-size: 20px;
        margin-top: 10px;
        box-sizing: border-box;
    }
    .start-now:hover{
        cursor: pointer;
        list-style-type: none;
        text-decoration: none;
        background-color: white;
        color: black;
    }
    /*END OF CODES FOR THE FIRST SECTION*/
    /*BEGINNING CODES FOR THE SECOND SECTION*/
    #sect2{
        color: lightblue;
        background-color: white;
        padding-bottom: 50px;
    }
    /*END OF CODES FOR THE SECOND SECTION*/
    /*BEGINNING CODES FOR THE THIRD SECTION*/
    #sect3{
        color: lightblue;
        width: 100vw;
        height: 40vh;
        text-align: center;
    }
    #sect3 h3{
        color: white;
    }
    #sect3 p{
        border: 1px solid yellow;
        background-color: white;
        color: black;
        font-size: x-large;
        font-weight: bolder; 
        text-shadow: 10px 4px 15px yellow;
    }
    /*END OF CODES FOR THE THIRD SECTION*/
    /*BEGINNING CODES FOR THE FOURTH SECTION*/
    #sect4{
        width: 100vw;
        height: 40vh;
        background-color: white;
        text-align: center;
        padding-top: 10px;
    }
    #sect4 h1{
        font-size: 52px;
        color: lightblue;
    }
    #sect4 p{
        font-size: 22px;
    }
    /*END OF CODE FOR THE FOURTH SECTION*/
    /*BEGINNING CODES FOR FOOTER*/
    footer{
        border: 1px solid gold;
        background-color: gold;
        padding: 2em;
        text-align: center;
        color: black;
    }
    footer a{
        color: #2B6CA3;
    }
    /*END OF CODES FOR THE FOOTER*/    
}
/*Coding responsiveness for computers and larger devices*/
@media screen and (min-width: 601px) {
    /*hides the hamburger-icon which is only for the mobile screens*/
    #hamburger-icon{
        display: none;
    }
    nav{
        position: fixed;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        padding-top: .6em;
    }
    /*Everything below this tag will be sectioned in order for each @media*/
    /*BEGINNING CODES FOR THE FIRST SECTION*/
    #sect1 img{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    #sect1 video{
        
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .texts-sect1{
        position: absolute;
        color: white;
        top: 5em;
        left: 2em;
    }
    .texts-sect1 p{
        font-size: 7vh;
    }
    .start-now{
        position: absolute;
        border: 1px solid gold;
        background-color: gold;
        font-weight: bolder;
        text-align: center;
        width: 7em;
        height: 2em;
        padding: 5px;
        font-size: 20px;
        margin-top: 40px;
        box-sizing: border-box;
    }
    .start-now:hover{
        cursor: pointer;
        list-style-type: none;
        text-decoration: none;
        background-color: white;
        color: black;
    }
    /*END OF CODES FOR THE FIRST SECTION*/
    /*BEGINNING CODES FOR THE SECOND SECTION*/
    #sect2{
        color: lightblue;
        background-color: white;
        padding-bottom: 50px;
    }
    /*END OF CODES FOR THE SECOND SECTION*/
    /*BEGINNING CODES FOR THE THIRD SECTION*/
    #sect3{
        color: yellow;
        width: 50vw;
        margin: auto;
        height: 25em;
        text-align: center;
    }
    #sect3 h1{
        font-size: 3.4em;
        color: lightblue;
    }
    #sect3 p{
        border: 1px solid yellow;
        background-color: white;
        color: black;
        font-size: xx-large;
        font-weight: bolder; 
        text-shadow: 10px 4px 15px yellow;
    }
    #sect3 h3{
        color: white;
        margin: auto;
    }
    /*END OF CODES FOR THE THIRD SECTION*/
    /*BEGINNING CODES FOR THE FOURTH SECTION*/
    #sect4{
        width: 100vw;
        height: 15em;
        background-color: white;
        text-align: center;
    }
    #sect4 h1{
        font-size: 3.6em;
        color: lightblue;
    }
    #sect4 p{
        font-size: 1.7em;
    }
    /*END OF CODE FOR THE FOURTH SECTION*/
    /*BEGINNING CODES FOR FOOTER*/
    footer{
        border: 1px solid black;
        background-color: gold;
        padding: 2em;
        text-align: center;
        color: black;
    }
    footer a{
        color: #2B6CA3;
    }
    /*END OF CODES FOR THE FOOTER*/    
}

.mobile-menu{
    display: none;
    position: absolute;
    left: 0;
    height: calc(100vh);
    width: 100%;
    background-color: lightblue;
}
/*BEGINNING CODES FOR .open JAVASCRIPT FUNCTION*/
/*.open is a JavaScript call*/
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px); /*< this roates the first bar*/
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
    opacity: 0; /*hides the second bar completely*/
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-10px, -8px); /*< this rotates the third bar*/
    transform: rotate(45deg) translate(-10px, -8px);
}
/*stryling the mobile icon*/
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
